/node_modules
/yarn.lock
/package-lock.json
/lib
/es
/example/es
/example/lib
/example/node_modules
/example/app/node_modules
/example/app/yarn.lock
/example/app/pages/.umi
/example/app/pages/.umi-production
